<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	li {
		float: left;
	}
	
	li a {
		display: block;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}
	
	li a:hover {
		background-color: #111111;
	}
</style>
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<ul>
			<li style="width:100px">Price: {{ctrl.price | currency:$:4}}</li>
			<li><input type="button" style="width:100px" ng-click="ctrl.GetPrices()" value="Stream"></li>
			<li><input type="button" style="width:100px" ng-click="ctrl.StopStreaming()" value="Stop"></li>
		</ul>
	</div>
	<div class="panel-body">
		<p>Price History</p>

		<table class="table" ng-repeat="p in ctrl.priceHistory">
			<tr>
				<td>{{p | currency:$:4}}</td>
			</tr>
		</table>
	</div>
</div>